@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

:root {
  --primary-color: #93CB82;
  --background-color: #1B272F;
  --secondary-color: #C4A4D0;
  --bg-secondary-color: #304552;
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
  font-family: Arial, sans-serif;
}


@media only screen and (min-width: 360px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #fff;
    padding: 14px 24px;
  }

  .navbar-left {
    display: flex;
    align-items: center;
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 31px;
    height: 31px;
  }

  .bar {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 8px;
  }

  .dropdown-btn {
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 32px;
    width: 121px;
    height: 29px;
    border-radius: 44px;
    background-color: #C4A4D0;
    color: var(--background-color);
    border: none;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
  }

  .dropdown-btn img {
    margin-bottom: 3px;
    margin-right: 19px;
  }

  .dropdown-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 19px 8px; */
    /* row-gap: 10px; */
    /* width: 155px; */
    /* height: 182px; */
    /* border-radius: 19px; */
    /* top: 50px;
       right: 22px; */
    /* position: absolute; */
    /* background-color: white; */
    /* min-width: 120px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .workspace {
    font-size: 10px;
    padding: 10px 12px;
    border: none;
    color: white;
    text-align: left;
    background-color: #7F6F9B;
    width: 139px;
    height: 29px;
    border-radius: 44px;
    font-weight: bold;
  }

  .study,
  .personal {
    text-align: left;
    font-size: 10px;
    padding: 10px 12px;
    width: 139px;
    height: 29px;
    border-radius: 44px;
    border: none;
    font-weight: bold;
  }

  .new {
    background-color: var(--primary-color);
    text-align: left;
    font-size: 10px;
    padding: 10px 12px;
    width: 139px;
    height: 29px;
    border-radius: 44px;
    border: none;
    font-weight: bold;
  }

  .navbar-right {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .content {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary-color);
    height: 90vh;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
  }

  .bottom-navbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }

  .navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000000;
  }

  .navbar-icon {
    width: 29px;
    height: 29px;
    margin-bottom: 4px;
  }

  .navbar-item.active .navbar-icon {
    filter: brightness(1.2);
  }

  .dropdownTop {
    /* display: none; */
    position: relative;
    margin-top: 10px;
  }

  .dropTopCont {
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 19px 8px;
    row-gap: 10px;
    width: 155px;
    height: 182px;
    border-radius: 19px;
    background-color: white;
    min-width: 120px;
    right: 0;
    top: 20px;
  }

  .card-task {
    display: flex;
    background-color: #FFFF;
    width: 327px;
    height: 106px;
    border-radius: 27px;
    margin: 28px auto;
  }

  .card-task span {
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    background-color: #EACB8E;
    height: 100%;
    width: 25px;
  }

  .box-info-task {
    flex-grow: 1;
    font-size: 13px;
    font-weight: 600;
    color: #656565;
    padding: 12px;
  }

  .box-info-task div {
    display: flex;
    align-items: center;
    gap: 11px;
  }

  input[type="checkbox"] {
    border-radius: 4px;
    width: 18px;
    height: 18px;
  }


}


.btn-info {
  display: flex;
  gap: 44px;
  margin: 0 auto 30px auto;
  /* margin: 24px 57px ; */
}

.btn-all {
  width: 105px;
  height: 26px;
  border-radius: 123px;
  border: 1px solid #93CB82;
  background-color: #304552;
  color: white;
  font-size: 10px;
  font-weight: 600;
}

.btn-calender {
  width: 105px;
  height: 26px;
  border: 1px solid #93CB82;
  background-color: #304552;
  color: white;
  border-radius: 123px;
  font-size: 10px;
  font-weight: 600;

}

.active {
  background-color: #93CB82;
  color: black;
}

.calendar {
  margin: 0 auto;
  width: 100%;
  max-width: 360px;
  background-color: transparent;
  border-radius: 12px;
  padding: 0 20px;
  color: #c5c5c5;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 16px;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  color: white;
}

.calendar-grid {
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  font-weight: bold;
  margin-bottom: 8px;
}

.weekday {
  text-align: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.day {
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.current-day {
  background-color: #C4A4D0;
  color: #fff;
}

.selected-day {
  background-color: #7F6F9B;
  color: #fff;

}

.no-task p {
  text-align: center;
  color: white;
  margin-top: 30px;
}

.btn-add {
  position: absolute;
  background-color: #93CB82;
  border-radius: 100%;
  font-size: 38px;
  margin-top: 24px;
  right: 24px;
  bottom: 90px;
  width: 41px;
  height: 41px;
  border: none;
}

.popup-container {
  display: none;
  position: absolute;
  bottom: 120px;
  right: 65px;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.popup {
  border-radius: 10px;
}

.popup button {
  display: block;
  margin-bottom: 10px;
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  width: 80px;
  height: 24px;
  border-radius: 10px;
  padding: 4px;
  font-weight: 700;
  cursor: pointer;
}